<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.property.mapper.ParkingMapper">

    <insert id="addParking">
        INSERT INTO parking(communityId,parkId,parkName,status)
        VALUES (#{communityId, jdbcType=INTEGER},#{parkId, jdbcType=VARCHAR},#{parkName, jdbcType=VARCHAR}
               ,#{status, jdbcType=VARCHAR})
    </insert>
    <update id="updateParking">
        UPDATE parking
        SET communityId = #{communityId, jdbcType=VARCHAR}
          , parkName =#{parkName, jdbcType=VARCHAR}, status = #{status, jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteParking">
        DELETE FROM parking WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <select id="selectParking" resultType="com.example.property.model.Parking">
        SELECT *
        FROM parking
        <where>
            <if test="id != null and id !='' "> and id = #{id,jdbcType=INTEGER}</if>
        </where>
    </select>
</mapper>